# Unity generated
/[Ll]ibrary/              # Carpeta de la biblioteca de Unity
/[Tt]emp/                 # Carpeta temporal
/[Oo]bj/                  # Carpeta de objetos generados
/[Bb]uild/                # Carpeta de construcción
/[Bb]uilds/               # Otra carpeta de construcción
/[Ll]ogs/                 # Carpeta de registros
/[Uu]ser[Ss]ettings/      # Configuraciones de usuario

/Library/              # Carpeta de la biblioteca de Unity
/Temp/                 # Carpeta temporal
/Obj/                  # Carpeta de objetos generados
/Build/                # Carpeta de construcción
/Builds/               # Otra carpeta de construcción
/Logs/                 # Carpeta de registros
/UserSettings/      # Configuraciones de usuario
/Artifacts/

# Cache
.vs/                      # Carpeta de caché de Visual Studio
.gradle/                  # Carpeta de caché de Gradle
ExportedObj/              # Objetos exportados
.consulo/                 # Carpeta de configuración de Consulo IDE
*.csproj                  # Archivos de proyecto de C#
*.unityproj               # Archivos de proyecto de Unity
*.sln                     # Archivos de solución de Visual Studio
*.suo                     # Archivos de opciones de solución de Visual Studio
*.tmp                     # Archivos temporales
*.user                    # Archivos de configuración de usuario
*.userprefs               # Preferencias de usuario
*.pidb                    # Base de datos de metadatos de proyecto de Unity
*.booproj                 # Proyecto de Boo
*.svd                     # Archivos de depuración de Visual Studio
*.pdb                     # Archivos de depuración de Visual Studio
*.mdb                     # Archivos de depuración de Mono
*.opendb                  # Archivos de depuración de Mono
*.VC.db                   # Archivos de base de datos de Visual C++

# Visual Studio Code generated
.vscode/                  # Carpeta generada por Visual Studio Code

# Rider generated
.idea/                    # Carpeta generada por JetBrains Rider

# Builds
*.apk                     # Archivo de paquete de Android
*.aab                     # Archivo de paquete de Android (formato de app bundle)
*.unitypackage            # Archivo de paquete de Unity
*.app                     # Archivo de aplicación

# Crashlytics generated
crashlytics-build.properties  # Archivo generado por Crashlytics

# Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*  # Archivos binarios generados por Addressables

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta  # Archivos metadatos de Android generados temporalmente
/[Aa]ssets/[Ss]treamingAssets/aa/*      # Carpeta de activos de transmisión generados temporalmente

/Assets/StreamingAssets/aa.meta  # Archivos metadatos de Android generados temporalmente
/Assets/StreamingAssets/aa/*      # Carpeta de activos de transmisión generados temporalmente


# Mac configuration files
.DS_Store
